.title {
  text-align:center;
  padding-top: 10px;
}

.title span {
  padding: 8px;
  text-decoration: aliceblue;
  font-size: 70px;
  color: #000000;
  display: block;
  transition: 0.3s;
}

@media all and (max-width: 576px) {
  .title span{
    font-size: 40px;
  }
}

.image {
  width: 100%;
}

.showCursor {
  cursor: pointer;
}

img.bg {
  min-height: 50%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  left: 50%;
  margin-left: -512px;
  top: 208px;

}

@media screen and (max-width: 568px){
  img.bg {
    left: 50%;
    margin-left: -512px;
    top: 208px;
  }
}
