.title {
  text-align:center;
  padding-top: 10px;
}

.title span {
  padding: 8px;
  text-decoration: aliceblue;
  font-size: 70px;
  color: #000000;
  display: block;
  transition: 0.3s;
}

@media all and (max-width: 576px) {
  .title span{
    font-size: 40px;
  }
}

.image {
  width: 100%;
}

.showCursor {
  cursor: pointer;
}
