<!--The content below is only a placeholder and can be replaced.-->
<!--<div>
  <ul>
    <li *ngFor="let user of soldiers">
      <pre>{{ user | json }}</pre>
    </li>
  </ul>
</div>-->
<div class="title row">
  <div class="col-12">
    <span>
      {{ title }}!
    </span>
    <img class="image" alt="Angular Logo" src="https://upload.wikimedia.org/wikipedia/commons/2/2e/Game_of_Thrones_2011_logo.svg">
    <audio src="../assets/music.mp3" autoplay></audio>
  </div>
</div>

<div *ngIf="showComingSoon" class="coming-soon">
  <span>Game will begin on 28th Jan, 12:30 PM</span>
</div>
<div *ngIf="showWelcome" class="get-started">
  <button type="button" class="btn btn-primary" (click)="showInputOption()">Let the game begin</button><br />
  <a href="/teams" class="btn btn-primary">Teams</a><br />
  <a href="/score-board" class="btn btn-primary">Score Board</a><br />
</div>
<div *ngIf="showInput" class="user-input mt-5">
  <form>
    <div class="form-group">
      <input #identity type="text" placeholder="You identity..." class="form-control col-12" id="usr">
    </div>
    <div class="form-group">
      <input #token type="password" placeholder="Your secret key..." class="form-control col-12" id="token">
    </div>
    <button type="button" class="btn btn-primary" (click)="assignHouse()">Bend the knee</button>
  </form>
</div>

<div #myNav [className]="overlayClass" (click)="closeNav()" *ngIf="showError">
  <div class="overlay-content">
    <img src="../assets/ipm-groups-error.png" width="250px">
    <span>Intruder!!! You will be sent beyond the wall</span>
  </div>
</div>

<div #myNav [className]="overlayClass" (click)="closeNav()" *ngIf="houseExists">
  <div class="overlay-content">
    <img src="../assets/green_check.svg" width="250px">
    <span>You already have a house</span>
  </div>
</div>

<div style="display: flex; justify-content: center;" *ngIf="showAssignedGroup">
  <div class="card soldiers-card">
    <img class="card-img-top" [src]="assignedHouseImageUrl" alt="Card image">
    <div class="card-body">
      <h4 class="card-title">{{userName}}</h4>
      <p class="card-text">You have been assigned {{assignedHouseData['name']}} house</p>
    </div>
  </div>
</div>
